/*======= index.html =======*/
#page1 #content .col-1 {width:361px; margin-right:30px;}
#page1 #content .col-2 { width:227px;}

/*======= index-1.html =======*/
#page2 #content .col-1 {width:361px; margin-right:30px;}
#page2 #content .col-2 { width:227px;}

/*======= index-2.html =======*/
#page3 #content .col-1 {width:280px; margin-right:30px;}
#page3 #content .col-2 { width:270px;}

/*======= index-3.html =======*/
#page4 #content .col-1 {width:292px; margin-right:53px;}
#page4 #content .col-2 { width:273px;}

/*======= index-4.html =======*/
#page5 #content .col-1 {width:276px; margin-right:52px;}
#page5 #content .col-2 { width:270px;}


/*=========================*/


