* { 
	margin:0;
	padding:0;
}
html, body { 
	height:100%;
}
html {
	min-width:890px;
}
body { 
	background:url(../images/tail-top.gif) 0 0 repeat-x #fff; 
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%; 
	line-height:1.0625em;
	color:#807e83;
}

img {
	border:0; 
	vertical-align:top; 
	text-align:left;
}
object { 
	vertical-align:top; 
	outline:none;
}
ul, ol { 
	list-style:none;
}

.fleft { 
	float:left;
}
.fright { 
	float:right;
}
.clear { 
	clear:both;
}

.col-1, .col-2, .col-3 { 
	float:left;
	width:585px !important;
}

.alignright { 
	text-align:right;
}
.aligncenter { 
	text-align:center;
}

.wrapper { 
	width:100%;
	overflow:hidden;
}
.container { 
	width:100%;
}




/*==== GLOBAL =====*/
#main {
	width:1500px; 
	margin:0 auto;
	font-size:.8125em;
	position:relative;
}

#header {
	height:170px;
	position:relative;
	margin-left:40px;
}
#content {
	padding:0 0 45px 0;
}
	#content .aside {
		float:left;
		width:200px;
		margin-left:40px;
		margin-right:20px;
	}
	#content .mainContent {
		float:left;
		width:1200px;
		background:url(../images/line-hor.gif) 0 0 repeat-x;
		padding:20px 0 0 0;
	}
#footer {
	background:url(../images/line-hor.gif) 0 0 repeat-x;
	padding:28px 0 45px 0;
	margin-left:40px;
	margin-right:40px;
}


/*----- forms parameters -----*/

input, select, textarea { 
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	vertical-align:middle;
	font-weight:normal;
}


/*----- other -----*/
.img-indent { 
	margin:0 20px 0 0; 
	float:left;
}
.img-box { 
	width:100%; 
	overflow:hidden; 
	padding-bottom:20px;
}
	.img-box img { 
		float:left; 
		margin:0 20px 0 0;
	}

.extra-wrap { 
	overflow:hidden;
}


p {
	margin-bottom:17px;
}
.p1 { 
	margin-bottom:8px;
}
.p2 { 
	margin-bottom:17px;
}
.p3 { 
	margin-bottom:26px;
}

/*----- txt, links, lines, titles -----*/
a {
	color:#000; 
	outline:none;
}
a:hover{
	text-decoration:none;
}

h1 {
	font-size:50px;
	line-height:40px;
	padding-bottom:10px;
}
	h1 a {
		color:#000;
		text-decoration:none;
	}
h2 {
	font-size:14px;
	font-weight:normal;
	color:#4cdff9;
	margin-bottom:2px;
}
	h2.outdent {
		margin-bottom:14px;
	}
h3 {
	font-size:14px;
	font-weight:normal;
	color:#f94c75;
	margin-bottom:2px;
	background:url(../images/line-hor.gif) 0 100% repeat-x;
	padding:0 0 9px 0;
	margin-bottom:17px;
}
	h3.alt {
		color:#4cdff9;
	}
h4 {
	font-size:1em;
	color:#000;
	margin-bottom:14px;
	font-weight:normal;
}
h5 {
	font-size:12px;
	margin-bottom:14px;
}
h6 {
	font-size:1em;
	color:#000;
	font-weight:normal;
}


.txt1 {
	font-size:14px;
	line-height:18px;
}

.link1 { 
	background:url(../images/arrow3.gif) no-repeat 100% 6px;
	padding:0 13px 0 0;
	color:#000;
	text-decoration:none;
}
.link1:hover {
	text-decoration:underline;
}

.line-hor { 
	background:url(../images/line-hor.gif) 0 0 repeat-x;
	height:1px;
	overflow:hidden;
	font-size:0;
	line-height:0;
	margin:20px 0 20px 0;
}


/*==================boxes====================*/
.box {
	background:url(../images/box-bg.gif) 0 0 repeat-x;
	width:100%;
}
	.box .inner { 
		background:url(../images/box-bg.gif) 0 100% repeat-x;
		padding:41px 0 35px 0;
	}

.address { 
	float:left;
	margin-right:20px;
}
.address.last {
	margin-right:0;
}
	.address dt {
		margin-bottom:16px;
	}
	.address dd { 
		clear:both;
		text-align:right;
	}
	.address dd.alt {
		text-align:left;
	}
		.address dd span { 
			float:left;
			padding-right:25px;
		}
		.address dd a {
			color:#4cdff9;
		}


/*===== header =====*/
#header .address {
	position:absolute;
	left:0;
	top:13px;
	font-size:11px;
}
	#header .address a {color:#aeaeae; text-decoration:none;}
	#header .address a:hover {color:#000;}


#header .logo {
	position:absolute;
	left:0;
	top:63px;
}
	#header .logo span {
		display:block;
		position:absolute;
		left:120px;
		top:5px;
		color:#9c9c9c;
		font-size:12px;
		width:145px;
	}


/*===== content =====*/
#content .section {
	padding-bottom:60px;	
}
	
	#content .nav {
		padding-bottom:42px;
	}
		#content .nav li {
			width:100%;
			overflow:hidden;
			padding-bottom:1px;
			vertical-align:top;
		}
			#content .nav li a {
				display:block;
				background:url(../images/nav-bg.gif) 0 0 repeat-x;
				color:#939393;
				font-size:14px;
				text-decoration:none;
				line-height:36px;
				text-indent:16px;
				padding-right:15px;
			}
			#content .nav li a:hover, #content .nav li a.current {
				background:url(../images/nav-bg-act.gif) 0 0 repeat-x;
				color:#000;
				text-align:right;
			}


.list1 li {
	padding:0 0 11px 0;
	font-size:12px;
}
	.list1 li a {
		color:#807e83;
		text-decoration:none;
		padding-left:17px;
	}
	.list1 li a:hover {
		background:url(../images/arrow1.gif) no-repeat 0 4px;
		color:#4cdff9;
	}
	.list1 li a:active {
		color:#000;
	}


.list2 {
	border-left:1px solid #d7d7d7;
	padding:0 0 0 16px;
}
.list2 li {
	background:url(../images/arrow2.gif) no-repeat 0 5px;
	padding:0 0 10px 17px;
	font-size:12px;
}
	.list2 li a {
		color:#807e83;
		text-decoration:none;
	}
	.list2 li a:hover {
		text-decoration:underline;
		color:#000;
	}



.list3 {
	padding-bottom:5px;
}
	.list3 li {
		position:relative;
		overflow:hidden;
		color:#807e83;
		font-size:12px;
		padding:0 0 5px 80px;
		border-bottom:1px solid #ebebeb;
		margin-bottom:7px;
	}
		.list3 li span {
			position:absolute;
			left:0;
			top:0;
			color:#f94c75;
		}
	


.banner {
	margin-bottom:21px;
}

/*===== footer =====*/
#footer {
	font-size:11px;
	color:#807e83;
}
	#footer .fleft {
		width:270px;
	}
		#footer .fleft a {
			color:#807e83;
			text-decoration:none;
		}
		#footer .fleft a:hover {
			text-decoration:underline;
		}
	#footer .fright {
		width:617px;
	}
	
	
	#footer .nav {
		border-bottom:1px solid #d6d5d5;
		padding:0 0 6px 0;
		margin-bottom:6px;
	}
	
	#footer .nav li {
		display:inline;
		color:#d6d5d5;
	}
		#footer .nav li a {
			color:#807e83;
			font-size:12px;
			padding:0 10px 0 7px;
			text-decoration:none;
		}
		#footer .nav li a:hover, #footer .nav li a.current {
			color:#000;
		}


/*----- forms -----*/
#search-form {
	position:absolute;
	right:0;
	top:107px;
}
	#search-form fieldset {
		display:inline;
		border:none;
		margin-right:60px
	}
		#search-form input.text {
			width:200px;
			border:1px solid #dedede;
			border-right:none;
			padding:1px 0 1px 4px;
		}
		#search-form input.submit {
			border:1px solid #dedede;
			width:49px;
			height:20px;
			background:none;
			color:#000;
			font-size:12px;
			cursor:pointer;
		}


#newsletter-form fieldset {
	border:1px solid #d6d5d5;
	padding:15px 12px 15px 12px;
}
	#newsletter-form h4 {
		color:#4cdff9;
	}
	#newsletter-form input.text {
		width:250px;
		border:1px solid #dedede;
		border-right:none;
		padding:2px 0 2px 4px;
		color:#b2b2b2;
		font-size:11px;
	}
	#newsletter-form input.submit {
		border:1px solid #dedede;
		width:50px;
		height:20px;
		background:none;
		color:#000;
		font-size:12px;
		cursor:pointer;
	}


#contacts-form fieldset {
	border:none;
}
	#contacts-form label {
		display:block;
		height:45px;
	}
	#contacts-form input {
		width:235px;
		background:none;
		border:1px solid #a6a6a6;
		padding:2px 0 2px 5px;
	}
	#contacts-form textarea {
		width:276px;
		background:none;
		border:1px solid #a6a6a6;
		overflow:auto;
		height:106px;
		padding:2px 0 2px 5px;
		margin-bottom:14px;
	}

	#contacts-form .col-1 {
		width:298px !important;
		margin:0 !important;
	}
	#contacts-form .col-2 {
		width:283px !important;
		margin:0 !important;
	}
	#contacts-form .button {
		float:right;
		margin-left:20px;
	}

.inner_copy {border:0;color:#f00;float:left;width:50%!important;margin:-202px 0 0 0;overflow:hidden;line-height:0;padding:0;font-size:12px} 
/*==========================================*/

